/* problem pop-up */
.popup-modal {
	background-color: rgba(0, 0, 0, 0.5);
	width: 85%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
	margin-left:none;
}


.popup-modal-contents {
	height: 600px;
	width: 1000px;
	background-color: white;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
	
}



.popup-closing {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
	
}