:root{
    --color_darkblue: #182740;
    --color_gold: #D3B884;
    --color_skyblue: #3c8dbc;
    --color_blue: #367fa9;
}

.topBrand{
    background-color: var(--color_blue);
    height: 60px;
    text-align: center;
    padding-top: 10px;
}

.brand{
    color: white;
    font-size: 30px;
    padding-left: 0;
    text-align: center;
}

.rightBrand{
    background-color: var(--color_skyblue);
    height: 60px;
}

.leftBar{
    background-color: var(--color_darkblue);
    height: 1000px;
}

.photo{
    padding: 10px;
    width: 120px;
    border-radius: 20px;
}

.brandName{
    color: var(--color_gold);
    font-size: 30px;
    font-family: 'Zen Maru Gothic', sans-serif;
    padding-left: 20px;
}
.col-fixed{
    float: left;
    margin-left: 0;
    margin-right: 0;
}

.row{
    width: calc(100% - 300px);
}


.col-fixed{
    float: left;
    width: 300px;
}

.rightArea{
    background-color: white;
}

.functionBar li{
    background-color: transparent;    
}

.functionBar{
    width: 280px;
    margin-top: 30px;
    text-align: center;
}

.listName{
    color: white;
}
.listName:hover{
    color:var(--color_gold)
}

.colLi{
    text-align: left;
    color: white;

}

.btnBor{
    border-color: transparent;
}

.ulArea{
    margin-left: 80px;
}

.fork{
    font-size: 32px;
}

.titleName{
    padding: 5px;
    width: 300px;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    background-color: #182740;
    color: #D3B884;
    border-radius: 5px;
}

.titleName2{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
    width: 300px;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    background-color: #182740;
    color: #D3B884;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px gray;
}