.pageMove:hover{
    background: skyblue;
    transform: translate(3px,3px);
}

th{
    font-size: 16px;
}

td{
    font-size: 12px;
}

table{
    box-shadow: 2px 5px 15px 5px gray;
}

.littleName{
    color: #D3B884;
}

.readonly{

    background-color: rgb(228, 225, 225);
}

.keyWord{
    height: 35px;
    margin-bottom: 5px;
}

.upInput{
    width: 80px;
}

.upInputSm{
    width: 50px;
}

.upInputMd{
    width: 80px;
}

.upInputBig{
    width: 100px;
}

.text-middle{
    text-align: center;
}

h1{
    margin: 20px 0 10px 0;
}